<script setup>
import { ref, computed } from "vue"
import orderBy from "lodash/orderBy"
import { useFetchResource } from "@/use/useFetchResource"
import { useGlobalEvent } from "@/use/useGlobalEvent"

// character loading
const {
  data: characters,
  loadingState,
  fetchResources: fetchAllCharacters,
} = useFetchResource("https://rickandmortyapi.com/api/character")
fetchAllCharacters()

const {
  data: locations,
  loadingState: loadingLocations,
  fetchResources: fetchLocations,
} = useFetchResource("https://rickandmortyapi.com/api/location")
fetchLocations()

// sorting/ordering
const orderKeyCharacters = ref("id")
const orderKeyLocations = ref("id")

const charactersOrdered = computed(() =>
  orderBy(characters.value, orderKeyCharacters.value),
)
const locationsOrdered = computed(() =>
  orderBy(locations.value, orderKeyLocations.value),
)
function setCharacterOrderKey(key) {
  orderKeyCharacters.value = key
}
function setLocationOrderKey(key) {
  orderKeyLocations.value = key
}

// removing characters
useGlobalEvent("keypress", () => characters.value.splice(0, 1))
</script>

<template>
  <div>
    <div class="border-b-2 pb-4 border-gray-300 text-center">
      Order by
      <button
        class="btn bg-blue-500 mr-4"
        @click="setCharacterOrderKey('name')"
      >
        Name
      </button>
      <button class="btn bg-orange-500" @click="setCharacterOrderKey('id')">
        Id
      </button>
    </div>
    <div class="m-auto container flex flex-wrap mt-10">
      <div
        v-for="character in charactersOrdered"
        :key="character.id"
        class="xl:w-1/5 lg:w-1/4 md:w-1/3 w-1/2 card"
      >
        <div class="card-inner">
          <div class="image">
            <img
              :src="character.image"
              class="bg-gray-200"
              height="300"
              width="300"
            />
          </div>
          <div class="content text-center mt-5">
            <span class="header text-xl">{{ character.name }}</span>
            <div class="text-center text-gray-500 text-sm">
              <div class="">Status: {{ character.status }}</div>
              <div>{{ character.species }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br />
    <div class="border-b-2 pb-4 border-gray-300 text-center">
      Order by
      <button class="btn bg-blue-500 mr-4" @click="setLocationOrderKey('name')">
        Name
      </button>
      <button class="btn bg-orange-500" @click="setLocationOrderKey('id')">
        Id
      </button>
    </div>

    <div class="m-auto container flex flex-wrap mt-10">
      <div
        v-for="location in locationsOrdered"
        :key="location.id"
        class="xl:w-1/5 lg:w-1/4 md:w-1/3 w-1/2 card"
      >
        <div class="card-inner">
          <div class="content text-center mt-5">
            <span class="header text-xl">{{ location.name }}</span>
            <div class="text-center text-gray-500 text-sm">
              <div class="">Type: {{ location.type }}</div>
              <div>Dimension: {{ location.dimension }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      v-if="loadingState === 'loading' || loadingLocations === 'loading'"
      class="loading"
    >
      <span class="text-gray-500">Loading characters...</span>
      <img src="/spinner.svg" alt="loading" />
    </div>
  </div>
</template>

<style scoped>
.btn {
  @apply px-6 py-1 text-white rounded;
}
.card-inner {
  @apply p-4 shadow-md rounded m-2;
}
.card-inner img {
  @apply rounded;
  max-width: auto;
  display: block;
}
.loading {
  @apply fixed top-0 left-0 right-0 bottom-0 bg-white flex justify-center items-center;
}
</style>
