<script setup>
import { useGlobalEvent } from "@/use/useGlobalEvent"
import { ref } from "vue"
defineProps({
  src: String,
})

const vid = ref(null)
useGlobalEvent("keypress", (e) => {
  e.preventDefault()
  if (e.charCode === 32) {
    vid.value.paused ? vid.value.play() : vid.value.pause()
  }
})
</script>

<template>
  <div>
    <video
      :src="src"
      ref="vid"
      loop
      muted
      playsinline
      style="width: 80%; margin: auto"
    ></video>
  </div>
  <button @click="vid.play()">Play</button>
  <button @click="vid.pause()">Pause</button>
</template>
